<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccountingForComputerEquipmentRepairs.Properties.Settings.DB_CompAvailabilityConnectionString"
            connectionString="Data Source=DESKTOP-OMI23JR\SQLEXPRESS;Initial Catalog=DB_CompAvailability;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AccountingForComputerEquipmentRepairs.Properties.Settings.DB_CompAvailabilityConnectionString1"
            connectionString="Data Source=C40312\SQLEXPRESS;Initial Catalog=DB_CompAvailability;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>